body {
    font-size: 16px;
  }
  
  .title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  h3 {
    padding-top: 0.25em;
  }
  
  .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
  }

  .vertical-timeline-element-content {
    color: #FFFFFF;
  }
  
  .vertical-timeline-element-date {
    color: #94b353 !important;
    margin: 0 auto;
  }

  .vertical-timeline-element-source {
    color: #94b353;
  }

  #description {
    margin: 1.5em 0 2em 0;
  }
  
  .vertical-timeline-element>div {
    background-color: #e3ebe2;
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2F3536), color-stop(100%,#485356));
	  background: -webkit-linear-gradient(top,  #2F3536 0%, #485356 100%);
	  background:    -moz-linear-gradient(top,  #2F3536 0%, #485356 100%);
	  background:     -ms-linear-gradient(top,  #2F3536 0%, #485356 100%);
	  background:      -o-linear-gradient(top,  #2F3536 0%, #485356 100%);
	  background:         linear-gradient(to top, #2F3536 0%, #485356 100%);
    background-attachment: fixed;
  }

  .button {
    display: block;
    margin: 0.5em;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 15px;
    color: #2F3536;
  }
  
  .workButton {
    background: #b1b7b7;
  }
  
  .workButton:hover {
    background-color: #B6C0A0;
  }
  
  .schoolButton {
    background: #b1b7b7;
  }
  
  .schoolButton:hover {
    background-color: #B6C0A0;
  }
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }
  