html, body {
	font-family: 'Lato', sans-serif;
	margin: 16dp;
	color: #35342C;

	background-color: #e3ebe2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99A5A4), color-stop(100%,#CCCCCC));
	background: -webkit-linear-gradient(top,  #99A5A4 0%, #CCCCCC 100%);
	background:    -moz-linear-gradient(top,  #99A5A4 0%, #CCCCCC 100%);
	background:     -ms-linear-gradient(top,  #99A5A4 0%, #CCCCCC 100%);
	background:      -o-linear-gradient(top,  #99A5A4 0%, #CCCCCC 100%);
	background:         linear-gradient(to top, #99A5A4 0%, #CCCCCC 100%);
	background-attachment: fixed;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 700;
	font-style: normal;
}

p, a {
	font-family: lato, sans-serif;
	font-weight: 300 !important;
	font-style: normal;
	font-size: 13pt !important;
}

.skyline {
	width: 275px;
}

.logo {
	width: 300px;
}

.block-centered-comfortable {
	max-width: 1170px;
	margin: auto;
	width: 80%;
}

.block-centered-close {
	max-width: 1170px;
	margin: auto;
	width: 95%;
}

/*NAV OVERLAY*/
.overlay {
	position: relative;
    z-index: 10;
	height: 100%;
	width: 0%;
	/* opacity: 50%; */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #e3ebe2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99A5A4), color-stop(100%,#CCCCCC));
	background: -webkit-linear-gradient(top,  #99A5A4 0%, #CCCCCC 100%);
	background:    -moz-linear-gradient(top,  #99A5A4 0%, #CCCCCC 100%);
	background:     -ms-linear-gradient(top,  #99A5A4 0%, #CCCCCC 100%);
	background:      -o-linear-gradient(top,  #99A5A4 0%, #CCCCCC 100%);
	background:         linear-gradient(to top, #99A5A4 0%, #CCCCCC 100%);
	background-attachment: fixed;
	overflow-x: hidden;
	transition: 0.5s;
}
.overlay #overlay-links{
	position: absolute;
	width: 100%;
	top: 33%;
	text-align: center;
}
.overlay a {
	padding: 8px;
	text-decoration: none;
	letter-spacing: 0.2em;
	font-size: 36px !important;
	color: #818181;
	display: inline-block;
	transition: 0.3s;
	padding: 0.5em;
	text-transform: uppercase;
	font-family: lato, sans-serif !important;
	font-weight: 300;
}
.overlay a:after {
	display:block;
	content: '';
	border-bottom: solid 2px #818181;  
	transform: scaleX(0.5) translateY(0.5em);
	transition: transform 250ms ease-in-out;
  }
.overlay a:hover, .overlay a:focus {
	color: #515151;
}
.overlay a:hover:after {
	transform: scaleX(1) translateY(0.5em);
	color: #515151;
	border-bottom: solid 2px #515151;  
}
.overlay .closebtn {
	position: absolute;
	top: 10px;
	right: 45px;
	font-size: 60px;
}

/*HAMBURGER*/
.burger-container{
	position: absolute;
	top: -10px;
	right: 30px;
	font-size: 60px;
}

#hamburger {
	position: relative;
	z-index: 30;
}

/*BANNER & HEADER*/
.banner-image{
	text-align: center;
	margin-top: 15px;
}

.banner-image-link {
	position: relative;
    z-index: 20;
}

.banner-container{
	/* background-color: red; */
	overflow: hidden;
}

.about-title, h1{
	margin-top: 20px;
}

.about-summary, h2{
	margin: 0;
}

.header-img-container{
	margin: 0 auto;
}

.event-wrapper,
.header-container{
	padding-bottom: 8px;
	display: flex;
	flex-direction: column;
}

/*BODY*/
.body-title{
	padding-top: 30px;
}

/*EVENTS*/
.timeline-intro{
	text-align: left;
	padding: 90px 0 45px 0;
	width: 84.210526315%;
	margin: auto;
}

.event-title{
	padding-left: 75px;
	font-size: 18px;
}

/*Footer*/
.footer-container{
	text-align: center;
	margin-top: 1rem;
	font-style: italic;
	height: 36px;
}

/*ABOUT PAGE*/

.team-list {
	padding-top: 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: left !important;
    width: 100%;
    align-items: flex-start;
}

.team-list img {
	margin: auto;
	display: block;
	border: 0.1em solid #35342C;
	border-radius: 1em;
	box-shadow: 0 4px 8px #35342C;
}

.team-list p {
	margin-top: 0;
}

/*RESOURCE PAGE*/
.org-container {
	padding: 2em 3em;
	margin-bottom: 1em;
	max-width: 1000px;
	color: #fff;
    background-color: #485356;
    background: linear-gradient(to top, #2F3536 0%, #485356 100%);
	background-attachment: fixed;
	border-radius: .5em;
	box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
	animation: cd-bounce-2 1s !important;
}

.org-name {
	font-family: mr-eaves-modern, sans-serif !important;
    font-weight: 700 !important;
	font-style: normal !important;
	font-size: 14pt !important;
	padding: 0 !important;
	margin: 0 !important;
}

.org-button {
	display: block;
    margin: 0.5em;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 15px;
    color: #2F3536;
    margin-left: 0 !important;
}

/*SVG STYLING*/
.cls-1 {
	fill:url(#linear-gradient);
}

.cls-2 {
	fill:url(#linear-gradient-2);
}

.cls-3 {
	opacity:0.46;
	fill:url(#linear-gradient-3);
}

.cls-4 {
	fill:url(#linear-gradient-4);
}

.cls-5 {
	opacity:0.6;
	fill:url(#radial-gradient);
}

.cls-6 {
	opacity:0.28;
	fill:url(#radial-gradient-2);
}

.cls-7 {
	opacity:0.58;
}

.cls-8 {
	font-size:129.41px;
	font-weight:400;
	fill:#2f3536;
	font-family:nimbus-sans, sans-serif;
}

.cls-9 {
	fill:#e6edd6;
	opacity:0.22;
}

/*------------------------MEDIA QUERIES------------------------*/
@media only screen and (min-width: 540px) {
    .button {
		display: table !important;
	}

	.org-button {
		display: inline-table !important;
	}
}